tmp/*
1_two_days_beginner/_minted-introduction/
1_two_days_beginner/introduction.aux
1_two_days_beginner/introduction.log
1_two_days_beginner/introduction.out
1_two_days_beginner/introduction.toc
1_two_days_beginner/tmp.markdown
1_two_days_beginner/tmp.tex
